:root {
  /* Primary color shades */
  --md-primary-fg-color: #27a5a2;
  --md-primary-fg-color--light: #93d2d1;
  --md-primary-fg-color--dark: #145351;

  /* Accent color shades */
  --md-primary-fg-color--dark: #;
  --md-accent-fg-color: #27a5a2;
  --md-accent-fg-color--transparent: #27a5a21a;
  font-size: 16px;
  line-height: 1.6667;
}

body {
  background-color: #eeeeee;
  font-size: 1rem;
}

@media screen and (max-width: 76.1875em) {
  .md-main__inner {
    justify-content: center;
  }
}

.md-grid {
  max-width: 79.2rem; /* md-sidebar width * 2 (one on each side) + md-content */
}

.md-sidebar {
  width: 12.1rem;
}

.md-content {
  max-width: 55rem;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 #00000040;
  margin: 1rem 0 1rem;
  padding: 5rem 5rem 4rem;
  color: #404040;
}

.md-typeset,
.md-nav,
.md-tabs__link,
.md-search__input,
.md-search-result__meta {
  font-size: 1rem;
  line-height: 1.6667;
}

.md-top {
  font-size: 1rem;
}

.md-top svg {
  vertical-align: -0.2em;
}

.md-search-result__article--document .md-search-result__title,
.md-search-result__title {
  font-size: 1rem;
}

.md-search-result__teaser,
.md-search-result__more summary {
  font-size: 0.8rem;
  max-height: 3rem;
}

.md-typeset h1 {
  color: #404040;
  border-bottom: 1px solid #404040;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

.md-typeset h2 {
  color: #404040;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

.md-typeset p {
  margin-bottom: 1rem;
}

.md-typeset ul {
  list-style: disc outside;
  margin-bottom: 1rem;
}

.md-sidebar__scrollwrap {
  margin-right: 1rem;
}

.md-header__title {
  font-size: 1.3rem;
  height: 3rem;
  line-height: 3rem;
}

.md-tabs__item {
  height: 3rem;
}

.md-typeset .admonition,
.md-typeset details {
  font-size: 0.9rem;
  border-left: none;
  border-bottom: 0.02rem solid #448aff;
  margin: 2rem 0;
  padding: 0 2rem;
}

.md-typeset .admonition-title,
.md-typeset summary {
  margin: 0 -2rem 1.5rem -3.2rem;
  padding: 0.8rem 2.4rem 0.8rem 4.5rem;
}

.md-typeset .admonition-title:before,
.md-typeset summary:before {
  left: 3rem;
  width: 1.2rem;
  height: 1.2rem;
}

html .md-typeset .admonition > :last-child,
html .md-typeset details > :last-child {
  margin-bottom: 1.2rem;
}

@media screen and (max-width: 55rem) {
  .md-content {
    margin-top: 0;
    margin-bottom: 0;
    padding: 3rem 3rem 2.4rem;
  }

  .md-main__inner {
    margin-top: 0;
  }

  .md-typeset .admonition,
  .md-typeset details {
    margin: 1rem 0;
    padding: 0 1rem;
  }

  .md-typeset .admonition-title,
  .md-typeset summary {
    margin: 0 -2rem 1rem -3.2rem;
  }

  .md-typeset .admonition .admonition {
    margin: 0 -1rem;
  }
}

@media screen and (max-width: 30rem) {
  .md-content {
    padding: 1.5rem 1.5rem 1.2rem;
  }

  .md-typeset h1 {
    font-size: 2rem;
  }

  .md-typeset h2 {
    font-size: 1.17rem;
  }
}

/* print */

@media print {
  .md-content {
    box-shadow: none;
    color: #000000;
    margin: 0;
    padding: 2rem 2.4rem 0.5rem;
  }

  .md-main__inner {
    margin-top: 0;
  }

  h1 {
    border-color: #000000;
  }

  pre {
    overflow-x: hidden;
    page-break-inside: avoid;
  }

  blockquote {
    border: 2.25px solid #000000;
    box-shadow: none;
    line-height: 1.15;
    min-height: 1rem;
    padding: 0.5rem;
    page-break-inside: avoid;
    text-align: center;
  }

  .md-typeset .admonition,
  .md-typeset details {
    border: 0.2rem solid #448aff;
  }

  pre {
    border: 0.2rem solid black;
  }
}

.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.combobox {
  padding: 0.4rem;
  border-radius: 5px;
  margin-right: 5px;
}

.css-code-viewer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.1rem;
}

.css-code-block-container {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.css-code-block-container .success-check {
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  color: #00c853;
  right: 10px;
  display: none;
}

.css-exercise.success .css-code-block-container .success-check {
  display: inherit;
}

.css-code-viewer .code-block {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.box-title {
  margin-bottom: 0.1rem;
  font-weight: bold;
  width: max-content;
}

.eye-on,
.eye-off {
  display: none;
  margin: 0 0.5rem;
  cursor: pointer;
}

.code-block.hide-lines .eye-off {
  display: inline;
}

.code-block.show-lines .eye-on {
  display: inline;
}

.box-title.tab {
  margin-bottom: 0;
  padding: 0.2rem 0.4rem;
  background-color: #eceff9;
  border-radius: 5px 5px 0 0;
}

.css-code-viewer .code-block pre {
  flex-grow: 1;
  overflow-x: scroll;
  margin-top: 0;
  border-right: 1px solid white;
  padding: 1rem;
  background-color: #eceff9;
  color: #252629;
}

.style-container {
  display: flex;
  justify-content: space-between;
}

.code-input {
  font-family: monospace;
  border-radius: 5px;
  border: 1px solid #eceff9;
}

textarea.code-input {
  min-width: 90%;
  min-height: 5rem;
}

.html-preview {
  width: 50%;
}

.contributor-list p {
  opacity: 0.75;
  margin-bottom: 0.1rem;
}

.contributor-list ul {
  display: flex;
  list-style: none;
}

.contributor-list ul li {
  margin-right: 0.5rem;
  margin-left: 0;
}

.contributor-list img.contributor-picture {
  max-height: 3rem;
  filter: grayscale(100%);
  transition: filter 0.2s ease;
}

.contributor-list img.contributor-picture:hover {
  filter: grayscale(0);
}

.contributor-list .no-contributor-picture svg {
  background-color: #f0f0f0;
}

.contributor-list .no-contributor-picture {
  color: #a0a0a0;
}

.contributor-list .no-contributor-picture:hover {
  color: inherit;
}

hr.content-footer-sep {
  margin-top: 8rem;
}

@media screen and (max-width: 640px) {
  .css-code-viewer {
    flex-direction: column;
  }

  .css-code-viewer .code-block {
    width: 100%;
  }

  .html-preview {
    width: 100%;
  }

  .style-container {
    flex-direction: column;
  }
}
